table {
    background-color: lightgrey;
    border: 1px solid black;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    width: auto;
    height: auto;
}

.description {
    text-align: right;
}
